html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.no-display {
  display: none;
}

.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#msgbox {
  position: fixed;
  width: 200px;
  background-color: rgb(32, 156, 238);
  color: #DDD;
  bottom: calc(50%);
  left: calc(50% - 125px);
  border-radius: 4px;
  padding: 20px;
  padding-right: 30px;
}

.delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  vertical-align: top;
  width: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.delete::before, .delete::after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.delete::before {
  height: 2px;
  width: 50%;
}

.delete::after {
  height: 50%;
  width: 2px;
}

.delete:hover, .delete:focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete:active {
  background-color: rgba(10, 10, 10, 0.4);
}

.table-full-size {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.table-centered-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #DDD;
  color: #DDD;
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.btn-bottom-center{
  position: fixed;
  width: 110px;
  bottom: 30px;
  left: calc(50% - 55px);
}
.btn-top-right {
  position: fixed;
  top:10px;
  right:10px;
}
